h1 {
  text-decoration: underline;
}

.hide {
    display: none;
}

/* #code-display * {
    text-align: left;
    font-family: 'Inconsolata', Arial, serif;
} */

.CodeMirror {
    border: 1px solid #eee;
    height: 90%;
    overflow-y: auto;
/*     font-family: 'Inconsolata', Arial, serif; */
}
