h1 {
  text-decoration: underline;
}

.hide {
    display: none;
}

#code-display * {
    text-align: left;
    font-family: 'Inconsolata', Arial, serif;
}

/* .CodeMirror-code {
    text-align: left;
    font-family: 'Inconsolata', Arial, serif;
} */
