h1 {
  text-decoration: underline;
}

.hide {
    display: none;
}

/* #code-display * {
    text-align: left;
    font-family: 'Inconsolata', Arial, serif;
} */

.CodeMirror {
    border: 1px solid #eee;
    height: 90%;
    overflow-y: auto;
/*     font-family: 'Inconsolata', Arial, serif; */
}

.mg-chart-title {
    font-size: 1.2rem;
    margin: 0;
    line-height: 0.5rem;
}
